<div class="jumbotron bg-dark animated fadeIn">
    <h1 class="display-4 text-center">About the Museum App</h1>
    <hr class="my-4">      
    <p class="lead">This is an application made with Angular CLI 11.2.0 version for study purposes and to practice Frontend 
        Development.</p>
    <p class="lead">The home page diplays 20 Artworks that are fetched through a service that communicates with the Rijksmuseum API.</p>
    <p class="lead">The search page allows the user to do particular searchs by introducing search terms.</p>    
   <hr class="my-4">
   <h2 class="text-center">Technologies used in this application</h2>
   <div class="list-group">
        <br>
        <a class="list-group-item list-group-item-action list-group-item-primary">Angular CLI 11</a>
        <a class="list-group-item list-group-item-action">Components, Services and Routes.</a>
        <a class="list-group-item list-group-item-action">Structural Directives (*ngFor and *ngIf).</a>
        <a class="list-group-item list-group-item-action">Visual transformation of the data with Pipes (No-image)</a>    
   </div>
   
   <div class="list-group mt-5">
        <br>
        <a class="list-group-item list-group-item-action list-group-item-danger">Bootstrap 4.6</a>
        <a class="list-group-item list-group-item-action">Navbar</a>
        <a class="list-group-item list-group-item-action">Cards.</a>
        <a class="list-group-item list-group-item-action">Jumbotron</a>    
    </div>
    
    <div class="list-group mt-5">
        <br>
        <a class="list-group-item list-group-item-action list-group-item-success">Another Technologies</a>
        <a class="list-group-item list-group-item-action">HTML 5</a>
        <a class="list-group-item list-group-item-action">CSS 3</a>
        <a class="list-group-item list-group-item-action">Typescript</a>    
    </div>
  </div>
